<div class="profile-modal" id="profile-modal">
    <i class="fas fa-caret-up caret-up"></i>
    <div class="username">
        <span class="username">Rasul Akhundov</span>
    </div>
    <div class="level">
        <span class="label"></span>
        <div class="level-bar">
            <div class="bar-cover"></div>
            <span class="bar-span"></span>
        </div>
    </div>
    <a href="/leader-board"><button type="button">Lider lövhəsi</button></a>
    <a href="/statistics"><button type="button">Statistika</button></a>
    <button type="button" id="logout">Çıxış Et</button>
</div>
<header>
    <div class="header-cover">
        <div class="header-comp-1 pl-3">
            <a href="/"><h2 style="text-shadow: 0px 3px 0px #810e05;">MindQuiz.io</h2></a>
        </div>
        <div class="header-comp-2">
            <ul>
                <a class="admin-panel" href="/admin-panel"><li class="quizzes">Admin</li></a>
                <a class="leader-board-a" href="/leader-board"><li class="d-flex"><span class="mr-1" id="player-cup">0</span><img src="/assets/cup.png" alt=""></li></a>
            </ul>
            <a style="text-decoration: none;" href="/login"><div class="header-login-text">
                <span>Daxil ol</span>
            </div></a>
            <div class="header-image-cover" id="header-image-cover">
                <div class="header-image"></div>
            </div>
        </div>
    </div>
</header>