* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Anton', sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 0;
}
  /* Track */
::-webkit-scrollbar-track {
    background: #634207; 
    border-radius: 0 5px 5px 0;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #eca727;
    border-radius: 0 5px 5px 0;
}
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8f5d00; 
}
html, body {
    width: 100%;
    height: 100%;
}
.main-container { 
    width: 100%;
    height: 100%;
    background: url('/assets/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.profile-modal {
    position: fixed;
    width: 175px;
    min-width: 175px;
    top: 68px;
    right: 15px;
    display: none;
    background: #FFA500;
    padding: 10px;
    border-radius: 3px;
    box-shadow: -2px 2px 4px 0 rgba(0,0,0,.3);
    z-index: 99999;
}
.profile-modal i {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 15px;
    color: #FFA500;
}
.profile-modal .username {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #efefef;
}
/* LEVEL */
.level {
    width: 100%;
    padding: 10px 0;
}
.level .level-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #634207;
    border: 2px solid #634207;
    border-radius: 50px;
    margin-top: 5px;
    position: relative;
}
.level .level-bar .bar-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 50px;
    background: rgb(180, 180, 16);
}
.level .level-bar .bar-span {
    margin: 0;
    color: white;
    z-index: 2;
}
.profile-modal span {
    margin-bottom: 10px;
}
.profile-modal button {
    width: 100%;
}
.profile-modal button:first-child {
    margin-bottom: 5px;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #595a5c;
}
.header-cover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-comp-1, .header-comp-2 {
    display: flex;
    align-items: center;
}
header .burger {
    margin: 20px;
    cursor: pointer;
}
header .burger .line {
    width: 25px;
    height: 3px;
    border-radius: 25px;
    background: #C7B0AC;
    margin-bottom: 5px;
}
header .burger .line:last-child {
    margin-bottom: 0;
}
header .header-comp-1 a {
    text-decoration: none;
}
header h2 {
    font-size: 38px;
    color: orange;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header-comp-2 ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.header-comp-2 ul a {
    text-decoration: none;
}
.header-comp-2 ul li {
    list-style: none;
    font-size: 16px;
    color: #FFA500;
    margin: 0 20px;
}
.header-login-text {
    width: 70px;
    height: 60px;
    display: none;
    align-items: center;
    justify-content: center;
    background: #FFA500;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
.header-image-cover {
    width: 60px;
    height: 60px;
    background: #FFA500;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header-image-cover .header-image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border: 2px solid #efefef;
}

/* BOARD WRAPPER */
.board-wrapper {
    width: 100%;
    height: calc(100% - 60px);
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.board-wrapper .header-text {
    font-size: 32px;
    color: #efefef;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    text-shadow:0px 1px 0px #810e05;
}
/* board */
.board {
    width: 500px;
    padding: 10px;
    height: 90%;
    background: url('/assets/background-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 2px solid #ffffff;
    position: relative;
}
/* Player me */
.player-me {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.player-me table tr .player-length {
    border-radius: 0 0 0 8px !important;
}
.player-me table tr .player-name {
    color: #ffffff !important;
}
.player-me table tr .player-cup-image {
    border-radius: 0 0 8px 0 !important;
}
.board .table-scroll {
    height: 95.2%;
    overflow-y: auto;
    padding-bottom: 10px;
}
.board table {
    width: 100%;
}
.board table tr {
    width: 100%;
    border-radius: 50px;
	background:linear-gradient(to bottom, #e5e5e5 5%, #cccccc 100%);
	background-color:#ededed;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.board table tr td {
    padding: 8px;
}
.board table tr .player-length {
    border-radius: 50px 0 0 50px;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(to bottom, #e5e5e5 5%, #cccccc 100%);
}
.board table tr .player-image, .board table tr .player-image img {
    width: 30px;
    height: 30px;
}
.board table tr .player-name {
    font-size: 18px;
    color: #ffffff;
}
.board table tr .player-cup-image {
    border-radius: 0 50px 50px 0;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}
@media screen and (max-width: 650px) {
    /* HeADER */
    header .burger {
        margin: 15px;
    }
    header h2 {
        font-size: 30px;
    }
    header .header-comp-2 ul a {
        display: none;
    }
    header .header-comp-2 ul .leader-board-a {
        display: flex;
    }
    header .header-comp-2 ul li {
        margin: 0 10px;
    }
    .header-login-text {
        width: 70px;
        height: 60px;
    }
}
@media screen and (max-width: 550px) {
    /* Board wrapper */
    .board {
        width: 100%;
    }
    .board table tr .player-image, .board table tr .player-image img {
        width: 25px;
        height: 25px;
    }
    .board table tr .player-name {
        font-size: 16px;
        padding: 8px 0;
    }
    .board table tr .player-cup-image {
        font-size: 15px;
    }
}